@{
    ViewData["Title"] = "Privacy Policy";
}

<h1>Privacy Policy</h1>

<p>Your privacy is important to us.</p>

<p>
    <a href="https://www.linkedin.com/in/selim-berk-tetik-77a6101b4/" target="_blank" style="font-size:24px;">
        LinkedIn
    </a>
</p>

<div style="background-color:yellow">
    Selim Berk Tetik
</div>
